<h1>Mad Lib</h1>
<p>Noun: <%= @noun %></p>
<p>Pronoun: <%= @pronoun %></p>
<p>Verb: <%= @verb %></p>
<p>Adjective: <%= @adjective %></p>
<p>Adverb: <%= @adverb %></p>
<p>Once upon a time, there was a <%= @adjective %> <%= @noun %> who <%= @adverb %> <%= @verb %> with <%= @pronoun %> every day.</p>
